#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.gallery-list__item img {
    max-width: 50vw;
    height: auto;
    margin-bottom: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}